body{
    background-color: #f5f0e1;
    color : #1e3d59;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Console", monospace;
    font-size: 30px;
}

main {
    margin-top: 5%;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
}

.tableau {
    font-family: cursive;
    font-size: 20px;
}

.buttons {
display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}


.button {
    padding: 6px 18px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #ffc13b;
    color : #1e3d59;
}