body{
    background-color: #f5f0e1;
    color : #1e3d59;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Console", monospace;
    font-size: 30px;
}

main {
    margin-top: 5%;
    font-family: cursive;
    font-size: 20px;
}

.inBorder{
    border-radius: 8px;
}

.button {
    padding: 6px 18px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #ffc13b;
    color : #1e3d59;
}

.valider {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.retour {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.acceuil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}