<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Formulaire professeur</title>
    <link rel="stylesheet" th:href="@{/css/professeur/form.css}">
</head>

<body>
<header>
    <div><h2> Formulaire professeur</h2></div>

    <div><h3 th:if="${professeur.id == null}">Ajouter un nouveau Professeur</h3>
        <h3 th:if="${professeur.id != null}">Modifier un Professeur</h3>
    </div>
</header>

<form th:object="${professeur}"
      th:action="${professeur.id == null ? '/professeur/ajouter-professeur' : '/professeur/' + professeur.id + '/modifier'}"
      method="post">

    <div><label>Nom: </label>
        <input th:field="*{nom}" required/>
        <br>
        <label>Prenom: </label>
        <input th:field="*{prenom}" required/>
        <br>
        <label> Email: </label>
        <input th:field="*{email}" required/>
    </div>

    <div>
        <a th:href="@{/professeur/{id}/valider(id=${professeur.id})}">
            <button class="button">Valider nouveau Professeur</button>
        </a>
    </div>
</form>
<div>
    <a href="/professeur/">
        <button class="button">Retour Acceuil Professeur</button>
    </a>
</div>


</body>
</html>